<section>
  <div class="container">
    <div *ngIf="carte">
      <table class="table">
        <tr>
          <td>
            Carte Item ID
          </td>
          <td>
            Carte ID
          </td>

          <td>
            Photo
          </td>
          <td>
            Price
          </td>
          <td>
            Mail
          </td>

          <td>Actions</td>
        </tr>
        <mat-spinner *ngIf="!loaded" [ngStyle]="{'marginTop': '100px', 'marginLeft':'650px'}"></mat-spinner>

        <tr *ngFor="let item of caddy['hydra:member']">
          <td>{{item.id}}</td>
          <td>
            {{item.carte.id}}
          </td>

          <td><img alt="cartimg" height="50px" src="/assets/{{item.carte.photoName}}" width="50px"></td>
          <td>
            {{item.carte.currentPrice}}$
          </td>
          <td>
            {{item.mail}}
          </td>
          <td>
            <button (click)="deleteCart(item.id)" [ngStyle]="{'marginLeft' : '-30px'}" class="btn-buy" color="warn"
                    mat-stroked-button type="submit">
              <i [ngStyle]="{'fontSize':'15px'}" class="material-icons">delete</i>&nbsp;&nbsp;Supprimer
            </button>
          </td>
        </tr>
      </table>
    </div>
    <br>
    Nombre totale d'items :
    {{caddy['hydra:totalItems']}}
    <br>
    <span>Total : {{total}} $ </span>
    <button (click)="payement()" class="btn-buy" color="primary" mat-stroked-button type="submit">
      <i [ngStyle]="{'fontSize':'15px'}" class="material-icons">add_shopping_cart</i>&nbsp;&nbsp;Payement
    </button>
  </div>
</section>
