section {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  /*padding-bottom: 20px;*/
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

h1 {
  color: gray;

}

.card {
  margin-left: 1%;
  width: 250px;
  height: 300px;
  background: white;
  box-shadow: 0 10px 15px rgba(175, 175, 175, .4);
  color: gray;
  position: relative;
}

.card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
  transition: .5s;
}

.cardimg {
  width: 100%;
  height: 60%;
}

.btnshow {
  width: 75%;
  height: 30px;
  background: #1A48FD;
  color: white;
  border: none;
  position: relative;

}

@media screen and (max-width: 900px) {
  .svg {
    display: none;
  }


}

@media screen and (min-width: 1400px) {
  .svg {
    width: 100%;
  }


}
