<section>
  <div class="container">
    <div *ngIf="cartes" class="content1">
      <img alt="cardimg" src="assets/{{cartes.photoName}}">
    </div>
    <div *ngIf="cartes" class="details">
      <div class="content">
        <h2>{{cartes.name}}</h2>
        <p>
          {{cartes.description}}
        </p>

        <button color="warning" mat-button mat-stroked-button routerLink="/testcanvas/{{cartes.id}}">
          Customize and Buy
        </button>

      </div>
    </div>

  </div>


</section>
